@model MyPassionProject.Models.ViewModels.FindEvent

@{
    ViewBag.Title = "Find";
}

<a href="/Event/List">Go back to list</a>
<h2>@Model.SelectedEvent.Title</h2>
<div>Location: @Model.SelectedEvent.Location</div>
<div>Event Time: @Model.SelectedEvent.EventDateTime</div>
<div>Capacity: @Model.SelectedEvent.Capacity</div>
<div>Details: @Model.SelectedEvent.Details</div>
<div>Category:@Model.SelectedEvent.CategoryName</div>
 




<div>
    <a href="/Event/Edit/@Model.SelectedEvent.EventId">Update This  Event</a>
</div>

@Html.Partial("~/Views/Shared/_EventPartial.cshtml", Model)

<div>
    @Html.ActionLink("Delete This Event", "DeleteConfirm", "Event", new { id = Model.SelectedEvent.EventId }, new { style = "color: #ff0000;" })
</div>



<div>
    <h2>Paticipant in this @Model.SelectedEvent.Title:</h2>
    @foreach (var AppUser in Model.ParticipatingUsers)
    {
        <a href="/AppUser/Find/@AppUser.UserId">@AppUser.UserName</a>
        <a href="/Event/UnAssociate/@Model.SelectedEvent.EventId?UserId=@AppUser.UserId">[x]</a><br />
    }
</div>

<div>
    <h4>Add new paticipant to this Event: @Model.SelectedEvent.Title</h4>
    <form method="POST" action="/Event/Associate">
        <input type="hidden" name="EventId" value="@Model.SelectedEvent.EventId">
        <label for="UserId">Select User:</label>
        <select name="UserId" id="UserId">
            @foreach (var AppUser in Model.NotPaticipatingUsers)
            {
                <option value="@AppUser.UserId">@AppUser.UserName</option>
            }
        </select>
        <input type="submit" value="Associate AppUser" />
    </form>
</div>


